.dub
dub.selections.json
docs.json
__dummy.html
*.o
*.obj

__test__library__
*-test-library

# Ignore code coverage:
*.lst
.*.lst

# Ignore Sublime Text workspace (project file is ok):
*.sublime-workspace

# Ignore Intellij stuff
.idea/
*.iml

# Ignore the executable
dfract
