# travis now supports D and will run 'dub test' with multiple compilers
language: d

sudo: required

services:
 - docker

before_install:
 - echo "Installing dependencies on ${TRAVIS_OS_NAME}"
# - sudo apt-get update -qq
# - sudo apt-get install -y libcairo2-dev
 - "if [ ${TRAVIS_OS_NAME:-'linux'} = 'linux' ]; then sudo apt-get update -qq; fi"
 - "if [ ${TRAVIS_OS_NAME:-'linux'} = 'linux' ]; then sudo apt-get install -y libcairo2-dev; fi"
 - "if [ ${TRAVIS_OS_NAME:-'linux'} = 'osx' ]; then brew update; fi"
 - "if [ ${TRAVIS_OS_NAME:-'linux'} = 'osx' ]; then brew install glib; fi"

d:
 - dmd
 - gdc
 - ldc

os:
 - linux
 - osx

matrix:
  allow_failures:
    - os: osx
    - d: gdc
