# travis now supports D and will run 'dub test' with multiple compilers
language: d

sudo: required

services:
 - docker

before_install:
# - "if [ ${TRAVIS_OS_NAME} = 'linux' ]; then sudo apt-get update -qq; fi"
# - "if [ ${TRAVIS_OS_NAME} = 'linux' ]; then sudo apt-get install -y libcairo2 libpango libgdk-pixbuf2.0 libgtk-3; fi"
 - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then brew update; fi"
 - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then brew install cairo pango gdk-pixbuf gtk+3; fi"

d:
 - dmd
 - dmd-2.069.2
 - dmd-2.068.2
 - dmd-2.068.0
 - ldc-0.17.0
 - gdc

os:
 - linux
 - osx

addons:
  apt:
    packages: [libcairo2, libpango, libgdk-pixbuf2.0, libgtk-3 ]
    
matrix:
  allow_failures:
    - d: gdc
#    - os: osx
