name: CI

on:
  schedule:
    - cron: '30 7 1 * *'
  push:
    branches:
      - master

jobs:
  test:
    name: dub build with ${{ matrix.compiler }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
        compiler: [ dmd-latest, ldc-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1

      - name: Install D compiler
        uses: mihails-strasuns/setup-dlang@v0.4.1
        with:
          compiler: ${{ matrix.compiler }}

      - name: Build with dub
        run: |
          dub --version
          dub build

